@using NotesCore.Models;
@model Note
@{
	ViewBag.Title = "Добавление смартфона";
}
@*<form asp-action="Create" asp-controller="home">
	<div class="form-group">
		<label asp-for="UserName" class="control-label">Название</label>
		<input type="text" asp-for="UserName" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="NoteText" class="control-label">Компания</label>
		<input type="text" asp-for="NoteText" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="DeleteAfterRead" class="control-label">Цена</label>
		<input type="checkbox" asp-for="DeleteAfterRead" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="DaysDeleting" class="control-label">Дни</label>
		<input type="number" asp-for="DaysDeleting" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="HoursDeleting" class="control-label">Часы</label>
		<input type="number" asp-for="HoursDeleting" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="MinutesDeleting" class="control-label">Минуты</label>
		<input type="number" asp-for="MinutesDeleting" class="form-control" />
	</div>
	<div class="form-group">
		<input type="submit" value="Send" disabled="disabled" class="btn btn-default" />
	</div>
</form>*@
<div class="container">

	<form class="container" id="needs-validation" asp-action="Create" asp-controller="home" novalidate>
		<div class="form-group">
			<label for="exampleInputPassword1" asp-for="UserName">Имя</label>
			<input type="text" asp-for="UserName" class="form-control" required placeholder="Введите имя">
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Заметка</label>
			<input type="text" asp-for="NoteText" maxlength="1000" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите заметку" required>
		</div>
		<div class="form-check">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" asp-for="DeleteAfterRead" class="custom-control-input" id="customCheck1">
				<label class="custom-control-label" asp-for="DeleteAfterRead" for="customCheck1">Нажмите, если хотите, чтобы ваша ссылка стала одноразовой (удалится после первого просмотра)</label>
			</div>
		</div>
		<h2>Или введите время, через которое ваша заявка удалится</h2>
		<div class="row">
			<div class="col-md-6 mb-3">
				<label asp-for="DaysDeleting" for="validationCustom03">Введите кол-во дней</label>
				<input type="number" asp-for="DaysDeleting" type="text" class="form-control" id="validationCustom03" placeholder="Введите кол-во дней" value="1">
				<div class="invalid-feedback">
					Please provide a valid city.
				</div>
			</div>
			<div class="col-md-3 mb-3">
				<label asp-for="HoursDeleting" for="validationCustom04">Введите кол-во часов</label>
				<input type="number" asp-for="HoursDeleting" class="form-control" id="validationCustom04" placeholder="Введите кол-во часов" value="0">
				<div class="invalid-feedback">
					Please provide a valid state.
				</div>
			</div>
			<div class="col-md-3 mb-3">
				<label asp-for="MinutesDeleting" for="validationCustom05">Введите кол-во минут</label>
				<input type="number" asp-for="MinutesDeleting" class="form-control" id="validationCustom05" placeholder="Введите кол-во минут" value="0">
				<div class="invalid-feedback">
					Please provide a valid zip.
				</div>
			</div>
		</div>
		<button class="btn btn-primary" type="submit">Submit form</button>
		<small id="emailHelp" class="form-text text-muted">Если все параметры будут равны нулю, то по умолчанию поставится 1 час до удаления</small>
	</form>





</div>
<br /><br /><br /><br /><br />
						<script>(function() {
  "use strict";
  window.addEventListener("load", function() {
    var form = document.getElementById("needs-validation");
    form.addEventListener("submit", function(event) {
      if (form.checkValidity() == false) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add("was-validated");
    }, false);
  }, false);
}());</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>