@*@using NotesCore.Models;
@model Note
@{
	ViewBag.Title = "Добавление смартфона";
}

<div class="container">

	<form class="container" id="needs-validation" asp-action="Create" asp-controller="note" novalidate>
		<div class="form-group">
			<label for="exampleInputPassword1" asp-for="UserName">Имя</label>
			<input type="text" asp-for="UserName" class="form-control" placeholder="Введите имя">
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Заметка</label>
			<input type="text" asp-for="NoteText" maxlength="1000" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите заметку*" required>
			<div class="invalid-feedback">
				Введите заметку
			</div>
		</div>
		<div class="form-check">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" asp-for="DeleteAfterRead" class="custom-control-input" id="customCheck1">
				<label class="custom-control-label" asp-for="DeleteAfterRead" for="customCheck1">Нажмите, если хотите, чтобы ваша ссылка стала одноразовой (удалится после первого просмотра)</label>
			</div>
		</div>
		<h2>Или введите время, через которое ваша заявка удалится</h2>
		<div class="row">
			<div class="col-md-6 mb-3">
				<label asp-for="DaysDeleting" for="validationCustom03">Введите кол-во дней</label>
				<input type="number" min="0" asp-for="DaysDeleting" class="form-control" id="validationCustom03" placeholder="Введите кол-во дней" value="0">
				<div class="invalid-feedback">
					Введите корректное кол-во дней
				</div>
			</div>
			<div class="col-md-3 mb-3">
				<label asp-for="HoursDeleting" for="validationCustom04">Введите кол-во часов</label>
				<input type="number" min="0" asp-for="HoursDeleting" class="form-control" id="validationCustom04" placeholder="Введите кол-во часов" value="1">
				<div class="invalid-feedback">
					Введите корректное кол-во часов
				</div>
			</div>
			<div class="col-md-3 mb-3">
				<label asp-for="MinutesDeleting" for="validationCustom05">Введите кол-во минут</label>
				<input type="number" min="0" asp-for="MinutesDeleting" class="form-control" id="validationCustom05" placeholder="Введите кол-во минут" value="0">
				<div class="invalid-feedback">
					Введите корректное кол-во минут
				</div>
			</div>
		</div>
		<button class="btn btn-primary" type="submit">Submit form</button>
		<small id="emailHelp" class="form-text text-muted">Если все параметры будут равны нулю, то по умолчанию поставится 1 час до удаления</small>
	</form>
</div>*@


