@using Notes.ViewModels;
@model GetNote
@{
	var note = Model.Note;
}

@*

	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (!Model.AlreadyDeleted)
{
	<h1>hello, @Model.Note.UserName</h1>
	<div>That's your note: </div>
	<h2>Text: @Model.Note.NoteText</h2>
}
<div>@Model.Message</div>